@import "@/styles/vars.scss";

.root {
  color: $primary-color;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}

.large-size {
  font-size: 24px;
}

.mb-small {
  margin-bottom: 18px;
}

.mb-medium {
  margin-bottom: 32px;
}

.mb-large {
  margin-bottom: 50px;
}

.mb-xlarge {
  margin-bottom: 60px;
}

.center {
  text-align: center;
}
